{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
<div class="container">
  <div class="col-md-6 col-md-offset-3"
    style="border: solid 1px #D4D4D4;border-radius: 25px;margin-top: 120px;padding: 20px;box-shadow: 0px 0px 10px black;">
    {% if is_email_send == True  %}
    已经成功发送邮件,请自行前往邮箱修改密码，或
    <a href="/login">点此返回登录界面</a>
    {% else %}
    <form class='form-register' action="" method="post">
      {% if error %}
      <div class="alert alert-warning">{{ error }}</div>
      {% endif %}

      <h2 class="text-center">忘记密码</h2>

      <div class="form-group">
        {{ forget_form.email.label_tag }}
        {{ forget_form.email }}
      </div>
      <button type="reset" class="btn btn-default pull-left">重置</button>

      <button type="submit" class="btn btn-primary pull-right">提交</button>
    </form>
    {% endif %}
  </div>
</div>

<script>

</script>
{% endblock %}