{# 继承 base.html #}
{% extends "base.html" %}

{# 替换title #}
{% block title %}
{{ title }}
{% endblock %}


{# 替换内容 #}
{% block content %}
<div class="container">
  <div id="select_school">
    <form class="form-inline" action="" method="post" novalidate>
      {% csrf_token %}
      {% for foo in school_form %}
      <div class="form-group">
        <label for="exampleInputEmail1">{{ foo.label }}</label>
        {{ foo }}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">搜索</button>
    </form>
  </div>
  <hr />
  <table class="table table-bordered table-hover table-striped ">
    <tr style="background-color:#337ab7; color:aliceblue">
      <th>院校名称</th>
      <th>院校排名</th>
      <th>省份</th>
      <th>城市</th>
      <th>985</th>
      <th>211</th>
      <th>公办</th>
      <th>考生类别</th>
      <th>录取批次</th>
      <th>录取最低分</th>
      <th>录取最低排位</th>
    </tr>
    {% for school in school_list %}
    <tr class="tr_school">
      <td><a href="/school_info/{{ school.school_name }}">{{ school.school_name }}</a></td>
      <td>{{ school.school_rank }}</td>
      <td>{{ school.school_province }}</td>
      <td>{{ school.school_city }}</td>
      <td>{{ school.type_985 }}</td>
      <td>{{ school.type_211 }}</td>
      <td>{{ school.type_self }}</td>
      <td>{{ school.subject_choose }}</td>
      <td>{{ school.epoch }}</td>
      <td>{{ school.lowest_score }}</td>
      <td>{{ school.lowest_rank }}</td>
    </tr>
    {% endfor %}
  </table>
  {# 分页标签的HTML代码 #}
  <div class="pagination">
    <span class="step-links">
      {% if school_list.has_previous %}
      <a href="?page={{ school_list.previous_page_number }}">上一页</a>
      {% endif %}

      <span class="current">
        第 {{ school_list.number }} of {{ school_list.paginator.num_pages }} 页.
      </span>

      {% if school_list.has_next %}
      <a href="?page={{ school_list.next_page_number }}">下一页</a>
      {% endif %}
    </span>
  </div>
  {% endblock %}